{% extends "admin/base_site.html" %}
{% block title %}Project Version Bill of Materials{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="../">{{ project_version }}</a> &rsaquo;
    Bill of Materials
</div>
{% endblock %}

{% block content %}
<table>
  <tr>
    <th>Line</th>
    <th>Quantity</th>
    <th>Part</th>
    <th>Unit Cost</th>
    <th>Cost</th>
  </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>PCB</td>
      <td>{{ project_version.pcb_unit_cost|floatformat:4 }}</td>
      <td>{{ project_version.pcb_unit_cost|floatformat:4 }}</td>
    </tr>
  {% for project_part in project_version.project_parts.all|dictsort:"line_number" %}
    <tr>
      <td>{{ project_part.line_number }}</td>
      <td>{{ project_part.quantity }}</td>
      <td>{{ project_part.part }}</td>
      <td>{{ project_part.part.unit_cost }}</td>
      <td>{{ project_part.line_cost }}</td>
    </tr>
  {% endfor %}
  <tr>
    <td colspan="4">Total:</td>
    <td>{{ project_version.total_cost|floatformat:2 }}</td>
  </tr>
</table>
{% endblock %}