{% extends "admin/base_site.html" %}
{% block title %}Project Build Bill of Materials{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="../">{{ project_build }}</a> &rsaquo;
    Bill of Materials
</div>
{% endblock %}

{% block content %}
{% if project_build.shortfalls.all %}
<div>
  <h2>Shortfalls</h2>
  <ul>
    {% for shortfall in project_build.shortfalls.all %}
      <li>{{ shortfall.quantity }}x {{ shortfall.part }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<table>
  <tr>
    <th>Line</th>
    <th>Refs</th>
    <th>Quantity</th>
    <th>Part</th>
    <th>Unit Cost</th>
    <th>Part</th>
    <th>Line</th>
    <th>Qty On Hand</th>
    <th>Qty Projected</th>
  </tr>
    <tr>
      <td>0</td>
      <td>N/A</td>
      <td>1</td>
      <td>PCB</td>
      <td>{{ project_build.project_version.pcb_unit_cost|floatformat:4 }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  {% for part_reservation in project_build.part_reservations.all %}
    <tr>
      <td>{{ part_reservation.project_part.line_number }}</td>
      <td>{{ part_reservation.project_part.footprints }}</td>
      <td>{{ part_reservation.inventory_action.delta|cut:"-" }}{% if part_reservation.project_part.is_optional %}*{% endif %}</td>
      {% if part_reservation.inventory_action.inventory_line.part != None %}
        <td>{{ part_reservation.inventory_action.inventory_line.part }}</td>
        <td>{{ part_reservation.inventory_action.inventory_line.part.unit_cost }}</td>
      {% else %}
        <td>Part not found!</td>
        <td>-</td>
      {% endif %}
      <td><a href="{% url 'admin:django_ctb_part_change' part_reservation.inventory_action.inventory_line.part.pk %}">part</a></td>
      <td><a href="{% url 'admin:django_ctb_inventoryline_change' part_reservation.inventory_action.inventory_line.pk %}">inv</a></td>
      <td align="right">{{ part_reservation.inventory_action.inventory_line.quantity_on_hand }}</td>
      <td align="right">{{ part_reservation.inventory_action.inventory_line.quantity }}</td>
    </tr>
  {% endfor %}
  <tr>
    <td colspan="5">(*) Marked parts are optional</td>
  </tr>
  <tr>
    <td colspan="5"><b>Qty On Hand</b>: The number of parts in physical inventory <i>before</i> doing this build.</td>
  </tr>
  <tr>
    <td colspan="5"><b>Qty Pending</b>: The number of parts in physical inventory <i>after</i> all pending and cleared builds have been built.</td>
  </tr>
</table>

{% endblock %}